In [2]:
import mysql.connector

mycursor = None
mycon = None

# CHECK CONNECTION
def check_connection():
    global mycon  # Declare global variables

    try:
        mycon = mysql.connector.connect(
            host="localhost",
            user="root",
            passwd="2616",
            auth_plugin="mysql_native_password"
        )

        if mycon.is_connected():
            print("Successfully connected to MySQL")
            print("Information: ", mycon)
            return True
    except mysql.connector.Error as e:
        print("Error connecting to MySQL:", e)
        return False

In [3]:
import mysql.connector

mycursor = None
mycon = None

# CHECK CONNECTION
def check_connection():
    global mycon  # Declare global variables

    try:
        mycon = mysql.connector.connect(
            host="localhost",
            user="root",
            passwd="2616",
            auth_plugin="mysql_native_password"
        )

        if mycon.is_connected():
            print("Successfully connected to MySQL")
            print("Information: ", mycon)
            return True
    except mysql.connector.Error as e:
        print("Error connecting to MySQL:", e)
        return False

In [6]:
import mysql.connector

def create_database():
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password"
    )

    mycursor = mycon.cursor()

    try:
        mycursor.execute("CREATE DATABASE IF NOT EXISTS result")
        print("Database created or used")

        mycursor.execute("SHOW DATABASES")
        mycon.commit()

        # Fetch all rows from the result set
        rows = mycursor.fetchall()
        for x in rows:
            print(x)

    except mysql.connector.Error as e:
        print("Error:", e)

    finally:
        mycursor.close()
        mycon.close()

# Example usage
create_database()

Database created or used
Error: Unread result found

InternalError: Unread result found

In [35]:
def create_table(table_name):
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result"
    )
    mycursor = mycon.cursor()
    mycursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name}(rowid INT AUTO_INCREMENT PRIMARY KEY, stu_id VARCHAR(20) UNIQUE, name VARCHAR(20), admn_no INT(7), dob DATE, totalmarks INT(4), grade VARCHAR(2))")
    mycon.commit()
    
    print("Tables under result: ")
    mycursor.execute("SHOW TABLES")
    for x in mycursor:
        print(x)

def add_new_record(table_name, records):
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result"
    )
    mycursor = mycon.cursor()
    sql_check_existence = f"SELECT COUNT(*) FROM {table_name} WHERE stu_id = %s"  # Fix the SQL query here
    sql_insert = f"INSERT INTO {table_name}(stu_id, name, admn_no, dob, totalmarks, grade) VALUES(%s, %s, %s, %s, %s, %s)"
    
    for record in records:
        mycursor.execute(sql_check_existence, (record[0],))
        result = mycursor.fetchone()[0]

        if result == 0:
            mycursor.execute(sql_insert, record)  
            print(f"Record {record[0]} inserted successfully.")
        else:
            print(f"Record {record[0]} already exists, skipping insertion.")
    
    mycon.commit()
    print("All records added successfully.")

def remove_duplicates(table_name):
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result"
    )
    mycursor = mycon.cursor()

    duplicate_query = f"""
    SELECT stu_id, name, admn_no, dob, totalmarks, grade, COUNT(*)
    FROM {table_name}
    GROUP BY stu_id, name, admn_no, dob, totalmarks, grade
    HAVING COUNT(*) > 1
    """

    mycursor.execute(duplicate_query)
    duplicate_records = mycursor.fetchall()

    print("Redundant records found:")
    for record in duplicate_records:
        print(record)

    delete_query = f"""
    DELETE FROM {table_name}
    WHERE (stu_id, name, admn_no, dob, totalmarks, grade) IN (
        SELECT stu_id, name, admn_no, dob, totalmarks, grade
        FROM (
            SELECT stu_id, name, admn_no, dob, totalmarks, grade, ROW_NUMBER() OVER (PARTITION BY stu_id, name, admn_no, dob, totalmarks, grade) AS rn
            FROM {table_name}
        ) AS tmp
        WHERE rn > 1
    )
    """

    mycursor.execute(delete_query)
    mycon.commit()
    mycon.close()

    print("Duplicate records removed successfully.")

Tables under result:
('twelvea',)
('twelveb',)
('twelvec',)
('twelved',)
Record Aakash-101 already exists, skipping insertion.
Record Aditi-102 already exists, skipping insertion.
Record Aditya-103 already exists, skipping insertion.
Record Anisha-104 already exists, skipping insertion.
Record Chirag-105 already exists, skipping insertion.
Record Chaitanya-106 already exists, skipping insertion.
Record Dev-107 already exists, skipping insertion.
Record Diya-108 already exists, skipping insertion.
Record Esha-109 already exists, skipping insertion.
Record Garima-110 already exists, skipping insertion.
Record Gita-111 already exists, skipping insertion.
Record Hasan-112 already exists, skipping insertion.
Record Ishita-113 already exists, skipping insertion.
Record Jane-114 already exists, skipping insertion.
Record Karan-115 already exists, skipping insertion.
Record Kunal-116 already exists, skipping insertion.
Record Lia-117 already exists, skipping insertion.
Record Mansi-118 already exists, skipping insertion.
Record Naman-119 already exists, skipping insertion.
Record Nora-120 already exists, skipping insertion.
Record Prateek-121 already exists, skipping insertion.
Record Rishabh-122 already exists, skipping insertion.
Record Rhea-123 already exists, skipping insertion.
Record Rohan-124 already exists, skipping insertion.
Record Sarthak-125 already exists, skipping insertion.
Record Sanya-126 already exists, skipping insertion.
Record Tarini-127 already exists, skipping insertion.
Record Vishal-128 already exists, skipping insertion.
Record Vaani-129 already exists, skipping insertion.
Record Yutika-130 already exists, skipping insertion.
All records added successfully.
Redundant records found:
Duplicate records removed successfully.

In [36]:
create_table("twelvea")
add_new_record("twelvea", [
    ('Aakash-101', 'Aakash', 101, '2003-02-02', 489, 'A'),
    ("Aditi-102", "Aditi", 102, "2003-02-10", 457, "A"),
    ("Aditya-103","Aditya",103,"2003-05-14",490,"A"),
        ("Anisha-104","Anisha",104,"2003-03-19",434,"B"),
        ("Chirag-105","Chirag",105,"2003-06-30",478,"A"),
        ("Chaitanya-106","Chaitanya",106,"2003-11-24",413,"B"),
        ("Dev-107","Dev",107,"2003-09-21",488,"A"),
        ("Diya-108","Diya",108,"2003-04-08",489,"A"),
        ("Esha-109","Esha",109,"2003-01-19",386,"C"),
        ("Garima-110","Garima",110,"2003-07-18",449,"B"),
        ("Gita-111","Gita",111,"2003-09-23",491,"A"),
        ("Hasan-112","Hasan",112,"2003-12-08",456,"A"),
        ("Ishita-113","Ishita",113,"2003-12-12",383,"C"),
        ("Jane-114","Jane",114,"2003-11-01",469,"A"),
        ("Karan-115","Karan",115,"2003-11-28",490,"A"),
        ("Kunal-116","Kunal",116,"2003-03-27",491,"A"),
        ("Lia-117","Lia",117,"2003-03-01",496,"A"),
        ("Mansi-118","Mansi",118,"2003-03-19",380,"C"),
        ("Naman-119","Naman",119,"2003-10-19",492,"A"),
        ("Nora-120","Nora",120,"2003-12-30",497,"A"),
        ("Prateek-121","Prateek",121,"2003-04-12",422,"B"),
        ("Rishabh-122","Rishabh",122,"2003-02-18",475,"A"),
        ("Rhea-123","Rhea",123,"2003-01-26",476,"A"),
        ("Rohan-124","Rohan",124,"2003-07-07",498,"A"),
        ("Sarthak-125","Sarthak",125,"2003-11-24",499,"A"),
        ("Sanya-126","Sanya",126,"2003-02-28",349,"D"),
        ("Tarini-127","Tarini",127,"2003-09-09",480,"A"),
        ("Vishal-128","Vishal",128,"2003-03-19",411,"B"),
        ("Vaani-129","Vaani",129,"2003-07-18",492,"A"),
        ("Yutika-130","Yutika",130,"2003-05-23",393,"C")
])
remove_duplicates("twelvea")

Tables under result:
('twelvea',)
('twelveb',)
('twelvec',)
('twelved',)
Record Aakash-101 already exists, skipping insertion.
Record Aditi-102 already exists, skipping insertion.
Record Aditya-103 already exists, skipping insertion.
Record Anisha-104 already exists, skipping insertion.
Record Chirag-105 already exists, skipping insertion.
Record Chaitanya-106 already exists, skipping insertion.
Record Dev-107 already exists, skipping insertion.
Record Diya-108 already exists, skipping insertion.
Record Esha-109 already exists, skipping insertion.
Record Garima-110 already exists, skipping insertion.
Record Gita-111 already exists, skipping insertion.
Record Hasan-112 already exists, skipping insertion.
Record Ishita-113 already exists, skipping insertion.
Record Jane-114 already exists, skipping insertion.
Record Karan-115 already exists, skipping insertion.
Record Kunal-116 already exists, skipping insertion.
Record Lia-117 already exists, skipping insertion.
Record Mansi-118 already exists, skipping insertion.
Record Naman-119 already exists, skipping insertion.
Record Nora-120 already exists, skipping insertion.
Record Prateek-121 already exists, skipping insertion.
Record Rishabh-122 already exists, skipping insertion.
Record Rhea-123 already exists, skipping insertion.
Record Rohan-124 already exists, skipping insertion.
Record Sarthak-125 already exists, skipping insertion.
Record Sanya-126 already exists, skipping insertion.
Record Tarini-127 already exists, skipping insertion.
Record Vishal-128 already exists, skipping insertion.
Record Vaani-129 already exists, skipping insertion.
Record Yutika-130 already exists, skipping insertion.
All records added successfully.
Redundant records found:
Duplicate records removed successfully.

In [41]:
create_table("twelveb")
add_new_record("twelveb",[('Arnav-101','Arnav',101,'2003-09-23',469,'A'),
("Ashima-102","Ashima",102,"2003-10-22",497,"A"),
("Avinash-103","Avinash",103,"2003-02-14",490,"A"),
("Ayush-104","Ayush",104,"2003-04-30",499,"A"),
("Divyanshi-105","Divyanshi",105,"2003-08-01",458,"A"),
("Ekta-106","Ekta",106,"2003-10-21",410,"B"),
("Farhan-107","Farhan",107,"2003-01-12",491,"A"),
("Gaurav-108","Gaurav",108,"2003-08-08",489,"A"),
("Isha-109","Isha",109,"2003-08-30",356,"C"),
("Jhanvi-110","Jhanvi",110,"2003-03-16",449,"B"),
("Joginder-111","Joginder",111,"2003-05-24",441,"B"),
("Kanishka-112","Kanishka",112,"2003-02-28",476,"A"),
("Kevin-113","Kevin",113,"2003-07-15",393,"C"),
("Khushi-114","Khushi",114,"2003-10-01",463,"A"),
("Krish-115","Krish",115,"2003-01-08",450,"A"),
("Lakshay-116","Lakshay",116,"2003-04-17",471,"A"),
("Lakshita-117","Lakshita",117,"2003-04-02",497,"A"),
("Mahir-118","Mahir",118,"2003-11-29",380,"C"),
("Nakul-119","Nakul",119,"2003-01-13",452,"A"),
("Naira-120","Naira",120,"2003-11-16",497,"A"),
("Pranav-121","Pranav",121,"2003-08-22",442,"B"),
("Rohit-122","Rohit",122,"2003-09-08",485,"A"),
("Ronit-123","Ronit",123,"2003-08-15",496,"A"),
("Soham-124","Soham",124,"2003-04-27",418,"B"),
("Saurabh-125","Saurabh",125,"2003-11-21",479,"A"),
("Saanya-126","Saanya",126,"2003-02-08",349,"D"),
("Tushar-127","Tushar",127,"2003-01-10",470,"A"),
("Vartika-128","Vartika",128,"2003-03-19",421,"B"),
("Vaibhav-129","Vaibhav",129,"2003-11-13",492,"A"),
("Yash-130","Yash",130,"2003-03-03",393,"C")])
remove_duplicates("twelveb")

Tables under result:
('twelvea',)
('twelveb',)
('twelvec',)
('twelved',)
Record Arnav-101 already exists, skipping insertion.
Record Ashima-102 already exists, skipping insertion.
Record Avinash-103 already exists, skipping insertion.
Record Ayush-104 already exists, skipping insertion.
Record Divyanshi-105 already exists, skipping insertion.
Record Ekta-106 already exists, skipping insertion.
Record Farhan-107 already exists, skipping insertion.
Record Gaurav-108 already exists, skipping insertion.
Record Isha-109 already exists, skipping insertion.
Record Jhanvi-110 already exists, skipping insertion.
Record Joginder-111 already exists, skipping insertion.
Record Kanishka-112 already exists, skipping insertion.
Record Kevin-113 already exists, skipping insertion.
Record Khushi-114 already exists, skipping insertion.
Record Krish-115 already exists, skipping insertion.
Record Lakshay-116 already exists, skipping insertion.
Record Lakshita-117 already exists, skipping insertion.
Record Mahir-118 already exists, skipping insertion.
Record Nakul-119 already exists, skipping insertion.
Record Naira-120 already exists, skipping insertion.
Record Pranav-121 already exists, skipping insertion.
Record Rohit-122 already exists, skipping insertion.
Record Ronit-123 already exists, skipping insertion.
Record Soham-124 already exists, skipping insertion.
Record Saurabh-125 already exists, skipping insertion.
Record Saanya-126 already exists, skipping insertion.
Record Tushar-127 already exists, skipping insertion.
Record Vartika-128 already exists, skipping insertion.
Record Vaibhav-129 already exists, skipping insertion.
Record Yash-130 already exists, skipping insertion.
All records added successfully.
Redundant records found:
Duplicate records removed successfully.

In [43]:
create_table("twelvec")
add_new_record("twelvec",[('Abhay-101','Abhay',101,'2003-10-02',499,'A'),
("Adya-102","Aadya",102,"2003-01-17",467,"A"),
("Afreen-103","Afreen",103,"2003-07-25",483,"A"),
("Ameesha-104","Ameesha",104,"2003-01-29",444,"B"),
("Chhaaya-105","Chhaaya",105,"2003-02-03",488,"A"),
("Dhruv-106","Dhruv",106,"2003-12-24",433,"B"),
("Devi-107","Dev",107,"2003-09-21",488,"A"),
("Disha-108","Disha",108,"2003-07-28",459,"A"),
("Eshaan-109","Eshaan",109,"2003-01-09",380,"C"),
("Gatik-110","Gatik",110,"2003-03-08",449,"B"),
("Gitanjali-111","Gitanjali",111,"2003-09-13",348,"D"),
("Hansika-112","Hansika",112,"2003-10-08",486,"A"),
("Inaayat-113","Inaayat",113,"2003-12-12",363,"C"),
("Jai-114","Jai",114,"2003-11-21",489,"A"),
("Kamal-115","Kamal",115,"2003-01-08",460,"A"),
("Krisha-116","Krisha",116,"2003-03-07",471,"A"),
("Lovely-117","Lovely",117,"2003-03-12",396,"C"),
("Manav-118","Manav",118,"2003-03-29",370,"C"),
("Nachiket-119","Nachiket",119,"2003-10-22",482,"A"),
("Niya-120","Niya",120,"2003-06-30",497,"A"),
("Pratham-121","Pratham",121,"2003-05-02",412,"B"),
("Roy-122","Roy",122,"2003-02-28",465,"A"),
("Raman-123","Raman",123,"2003-05-16",473,"A"),
("Sima-124","Sima",124,"2003-09-17",418,"B"),
("Shantanu-125","Shantanu",125,"2003-11-24",499,"A"),
("Shivam-126","Shivam",126,"2003-02-08",489,"A"),
("Tarun-127","Tarun",127,"2003-11-19",470,"A"),
("Vinay-128","Vinay",128,"2003-07-23",431,"B"),
("Yami-129","Yami",129,"2003-06-25",492,"A"),
("Yuvaan-130","Yuvaan",130,"2003-04-23",399,"C")])
remove_duplicates("twelvec")

Tables under result:
('twelvea',)
('twelveb',)
('twelvec',)
('twelved',)
Record Abhay-101 already exists, skipping insertion.
Record Adya-102 already exists, skipping insertion.
Record Afreen-103 already exists, skipping insertion.
Record Ameesha-104 already exists, skipping insertion.
Record Chhaaya-105 already exists, skipping insertion.
Record Dhruv-106 already exists, skipping insertion.
Record Devi-107 already exists, skipping insertion.
Record Disha-108 already exists, skipping insertion.
Record Eshaan-109 already exists, skipping insertion.
Record Gatik-110 already exists, skipping insertion.
Record Gitanjali-111 already exists, skipping insertion.
Record Hansika-112 already exists, skipping insertion.
Record Inaayat-113 already exists, skipping insertion.
Record Jai-114 already exists, skipping insertion.
Record Kamal-115 already exists, skipping insertion.
Record Krisha-116 already exists, skipping insertion.
Record Lovely-117 already exists, skipping insertion.
Record Manav-118 already exists, skipping insertion.
Record Nachiket-119 already exists, skipping insertion.
Record Niya-120 already exists, skipping insertion.
Record Pratham-121 already exists, skipping insertion.
Record Roy-122 already exists, skipping insertion.
Record Raman-123 already exists, skipping insertion.
Record Sima-124 already exists, skipping insertion.
Record Shantanu-125 already exists, skipping insertion.
Record Shivam-126 already exists, skipping insertion.
Record Tarun-127 already exists, skipping insertion.
Record Vinay-128 already exists, skipping insertion.
Record Yami-129 already exists, skipping insertion.
Record Yuvaan-130 already exists, skipping insertion.
All records added successfully.
Redundant records found:
Duplicate records removed successfully.

In [51]:
create_table("twelved")
add_new_record("twelved", [('Asachi-101','Asachi',101,'2003-07-12',489,'A'),
("Benny-102","Benny",102,"2003-08-11",457,"A"),
("Cail-103","Cail",103,"2003-01-13",490,"A"),
("Dorota-104","Dorota",104,"2003-12-24",434,"B"),
("Fiza-105","Fiza",105,"2003-06-16",478,"A"),
("Gia-106","Gia",106,"2003-10-18",413,"B"),
("Hill-107","Hill",107,"2001-10-01",488,"A"),
("Ira-108","Ira",108,"2002-01-01",489,"A"),
("Jack-109","Jack",109,"2003-12-01",386,"C"),
("Kenverley-110","Kenverley",110,"2003-12-13",449,"B"),
("Liam-111","Liam",111,"2001-10-04",491,"A"),
("Leslie-112","Leslie",112,"2001-05-30",456,"A"),
("Maya-113","Maya",113,"2003-10-09",383,"C"),
("Nadan-114","Nadan",114,"2002-08-12",469,"A"),
("Packe-115","Packe",115,"2002-01-06",490,"A"),
("Paisley-116","Paisley",116,"2003-06-01",491,"A"),
("Ria-117","Ria",117,"2003-02-01",496,"A"),
("Ron-118","Ron",118,"2003-12-05",380,"C"),
("Saxton-119","Saxton",119,"2003-07-19",492,"A"),
("Sayonika-120","Sayonika",120,"2001-12-20",497,"A"),
("Tajan-121","Tajan",121,"2003-01-08",422,"B"),
("Trishel-122","Trishel",122,"2001-06-10",475,"A"),
("Utah-123","Utah",123,"2003-02-28",476,"A"),
("Viva-124","Viva",124,"2003-02-11",498,"A"),
("Vian-125","Vian",125,"2000-02-29",499,"A"),
("Welligton-126","Wellington",126,"2000-04-10",349,"D"),
("Yale-127","Yale",127,"2004-07-09",480,"A"),
("Yore-128","Yore",128,"2005-02-16",411,"B"),
("Zaavya_129","Zaavya",129,"2003-08-23",492,"A"),
("Zackery-130","Zackery",130,"2003-07-18",393,"C")])
remove_duplicates("twelved")

Record Asachi-101 already exists, skipping insertion.
Record Benny-102 already exists, skipping insertion.
Record Cail-103 already exists, skipping insertion.
Record Dorota-104 already exists, skipping insertion.
Record Fiza-105 already exists, skipping insertion.
Record Gia-106 already exists, skipping insertion.
Record Hill-107 already exists, skipping insertion.
Record Ira-108 already exists, skipping insertion.
Record Jack-109 already exists, skipping insertion.
Record Kenverley-110 already exists, skipping insertion.
Record Liam-111 already exists, skipping insertion.
Record Leslie-112 already exists, skipping insertion.
Record Maya-113 already exists, skipping insertion.
Record Nadan-114 already exists, skipping insertion.
Record Packe-115 already exists, skipping insertion.
Record Paisley-116 already exists, skipping insertion.
Record Ria-117 already exists, skipping insertion.
Record Ron-118 already exists, skipping insertion.
Record Saxton-119 already exists, skipping insertion.
Record Sayonika-120 already exists, skipping insertion.
Record Tajan-121 already exists, skipping insertion.
Record Trishel-122 already exists, skipping insertion.
Record Utah-123 already exists, skipping insertion.
Record Viva-124 already exists, skipping insertion.
Record Vian-125 already exists, skipping insertion.
Record Welligton-126 already exists, skipping insertion.
Record Yale-127 already exists, skipping insertion.
Record Yore-128 already exists, skipping insertion.
Record Zaavya_129 already exists, skipping insertion.
Record Zackery-130 already exists, skipping insertion.
All records added successfully.
Redundant records found:
Duplicate records removed successfully.

In [82]:
import mysql.connector


# Function to check connection
def check_connection():
    try:
        mycon = mysql.connector.connect(
            host="localhost",
            user="root",
            passwd="2616",
            auth_plugin="mysql_native_password"
        )
        mycon.close()
        return 1
    except:
        return 0

# Function to create database
def create_database():
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password"
    )
    mycursor = mycon.cursor()
    mycursor.execute("CREATE DATABASE IF NOT EXISTS result")
    mycon.close()

# Function to create table
def create_table(table_name):
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result"
    )
    mycursor = mycon.cursor()
    mycursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name}(rowid INT AUTO_INCREMENT PRIMARY KEY,stu_id VARCHAR(20) UNIQUE,name VARCHAR(20),admn_no INT(7),dob DATE, totalmarks INT(4),grade VARCHAR(2))")
    mycon.close()

def student_login(table_name):
    mycon = mysql.connector.connect(
        host = "localhost",
        user = "root",
        passwd = "2616",
        auth_plugin = "mysql_native_password",
        database = "result"
    )
    mycursor = mycon.cursor()
    stu_id = input("Enter your student id: ")
    sql_select_query = f"select * from {table_name} where stu_id = %s"
    mycursor.execute(sql_select_query, (stu_id, ))
    myresult = mycursor.fetchall()
    
    if mycursor.rowcount > 0:
        print("-------------------------------------------------------------------------------------------")
        print("stu_id", space("stu_id"), "name", space("name"), "admn_no", space("admn_no"), "dob", space("dob"), "totalmarks", space("totalmarks"), "grade")
        print("-------------------------------------------------------------------------------------------")
        
        for x in myresult:
            print(x[0], space(str(x[0])), x[1], space(x[1]), x[2], space(x[2]), x[3], space(x[3]), x[4], space(x[4]), x[5])
        
        print("-------------------------------------------------------------------------------------------")
    else:
        print("Enter the correct student id")
        
#Func to add space for Formatting
def space(value):
    value_str = str(value)
    if len(value_str) < 15:
        return " " * (15 - len(value_str))
    else:
        return ""

student_login("twelvea")

Enter your student id: Aakash-101
-------------------------------------------------------------------------------------------
stu_id           name             admn_no          dob              totalmarks       grade
-------------------------------------------------------------------------------------------
Aakash-101       Aryan            101              2003-02-02       489              A
-------------------------------------------------------------------------------------------

In [20]:
# for teacher menu1
def teacher_menu():
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result"
    )
    x = check_connection()
    if x == 1:
        create_database()  # Create database if it doesn't exist
        create_table()     # Create table if it doesn't exist
    else:
        print("Kindly check connection")
        return

    ans = 'y'
    while ans.lower() == 'y':
        print("**********************************************************************")
        print("*\t\t CLASSES *")
        print("*\t\t1. 12a *")
        print("*\t\t2. 12b *")
        print("*\t\t3. 12c *")
        print("*\t\t4. 12d *")
        print("******************************************************************\n\n")

        ch = int(input("Enter your choice: "))
        if ch == 1:
            teacher_login_a()
        elif ch == 2:
            teacher_login_b()
        elif ch == 3:
            teacher_login_c()
        elif ch == 4:
            teacher_login_d()
        else:
            print("Wrong Choice, please enter values between 1-4")

        ans = input("Go back to the previous menu (y for yes, n for no): ")

teacher_menu()

**********************************************************************
*		 CLASSES *
*		1. 12a *
*		2. 12b *
*		3. 12c *
*		4. 12d *
******************************************************************


Enter your choice: 1

NameError: name 'teacher_login_a' is not defined

In [83]:
# for teacher menu twelvea
import mysql.connector

def check_connection():
    try:
        mycon = mysql.connector.connect(
            host="localhost",
            user="root",
            passwd="2616",
            auth_plugin="mysql_native_password"
        )
        mycon.close()
        return 1
    except:
        return 0

def create_database():
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password"
    )
    mycursor = mycon.cursor()
    mycursor.execute("CREATE DATABASE IF NOT EXISTS result")
    mycon.close()

def create_table(table_name):
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result"
    )
    mycursor = mycon.cursor()
    mycursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name}(rowid INT AUTO_INCREMENT PRIMARY KEY,stu_id VARCHAR(20) UNIQUE,name VARCHAR(20),admn_no INT(7),dob DATE, totalmarks INT(4),grade VARCHAR(2))")
    mycon.close()

def display_table(table_name):
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result")
    mycursor = mycon.cursor()

    # Select and Fetch all records from the twelvea table
    sql_select = f"SELECT * FROM {table_name}"
    mycursor.execute(sql_select)
    table_contents = mycursor.fetchall()
    print("------------------------------------------------------------------------------------------------")
    print("stu_id", space("stu_id"), "name", space("name"), "admn_no", space("admn_no"), "dob", space("dob"), "totalmarks", space("totalmarks"), "grade")
    print("------------------------------------------------------------------------------------------------")
    for x in table_contents:
        print(x[0], space(x[0]), x[1], space(x[1]), x[2], space(x[2]), x[3], space(x[3]), x[4], space(x[4]), x[5])
    print("-------------------------------------------------------------------------------------------")


    mycon.close()

def pass_fail(table_name):
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result"
    )
    mycursor = mycon.cursor()
    # PASS
    print("Students who have passed:")
    sql_select_query = f"SELECT * FROM {table_name} WHERE totalmarks >= 350"
    mycursor.execute(sql_select_query)
    myresult = mycursor.fetchall()
    if mycursor.rowcount > 0:
        print("-------------------------------------------------------------------------------------------")
        print("stu_id", space("stu_id"), "name", space("name"), "admn_no", space("admn_no"), "dob", space("dob"),
              "totalmarks", space("totalmarks"), "grade")
        print("-------------------------------------------------------------------------------------------")
        for x in myresult:
            print(x[0], space(str(x[0])), x[1], space(x[1]), x[2], space(x[2]), x[3], space(x[3]), x[4], space(x[4]),
                  x[5])
        print("-------------------------------------------------------------------------------------------")
    else:
        print("No data to display")

    # FAIL
    print("Students who have failed:")
    sql_select_query = f"SELECT * FROM {table_name} WHERE totalmarks <= 350"
    mycursor.execute(sql_select_query)
    myresult = mycursor.fetchall()
    if mycursor.rowcount > 0:
        print("-------------------------------------------------------------------------------------------")
        print("stu_id", space("stu_id"), "name", space("name"), "admn_no", space("admn_no"), "dob", space("dob"),
              "totalmarks", space("totalmarks"), "grade")
        print("-------------------------------------------------------------------------------------------")
        for x in myresult:
            print(x[0], space(str(x[0])), x[1], space(x[1]), x[2], space(x[2]), x[3], space(x[3]), x[4], space(x[4]),
                  x[5])
        print("-------------------------------------------------------------------------------------------")
    else:
        print("No data to display")
        
#Individual Result 
def indi_result(table_name):
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result"
    )
    mycursor = mycon.cursor()
    stu_id = input("Enter the student id: ")
    sql_select_query = f"SELECT * FROM {table_name} WHERE stu_id = %s"
    mycursor.execute(sql_select_query, (stu_id,))
    myresult = mycursor.fetchall()
    if mycursor.rowcount > 0:
        print("-------------------------------------------------------------------------------------------")
        print("stu_id", space("stu_id"), "name", space("name"), "admn_no", space("admn_no"), "dob", space("dob"),
              "totalmarks", space("totalmarks"), "grade")
        print("-------------------------------------------------------------------------------------------")
        for x in myresult:
            print(x[0], space(str(x[0])), x[1], space(x[1]), x[2], space(x[2]), x[3], space(x[3]), x[4], space(x[4]),
                  x[5])
        print("-------------------------------------------------------------------------------------------")
    else:
        print("Enter the correct student id")
        
# for updating information a
def update_info(table_name):
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result"
    )
    mycursor = mycon.cursor()
    name = input("Enter name to be updated: ")
    namenew = input("Enter new name of the student: ")
    sql_select_query = f"UPDATE {table_name} SET name = %s WHERE name = %s"
    input1 = (namenew, name)
    mycursor.execute(sql_select_query, input1)
    mycon.commit()
    print(mycursor.rowcount, "record(s) updated")
    mycursor.execute("SELECT * FROM twelvea")
    myresult = mycursor.fetchall()
    print("-------------------------------------------------------------------------------------------") 
    print("stu_id", space("stu_id"), "name", space("name"), "admn_no", space("admn_no"), "dob", space("dob"), "totalmarks", space("totalmarks"), "grade")
    print("-------------------------------------------------------------------------------------------")
    for x in myresult:
        print(x[0], space(str(x[0])), x[1], space(x[1]), x[2], space(x[2]), x[3], space(x[3]), x[4], space(x[4]), x[5])
    print("-------------------------------------------------------------------------------------------")

def teacher_login_a():
    x = check_connection()
    if x == 1:
        create_database()
        create_table("twelvea")
    else:
        print("Kindly check connection")
        return

    ans = 'y'
    while ans.lower() == 'y':
        print("*********************************************************************")
        print("*\t\t CLASS RESULT ANALYSIS *")
        print("*\t\t1. Check Overall Class Result *")
        print("*\t\t2. Check Pass/Fail Status *")
        print("*\t\t3. Check Individual Result *")
        print("*\t\t4. Update Information *")
        print("*****************************************************************\n\n")
        
        ch = int(input("Enter your choice: "))
        if ch == 1:
            display_table("twelvea")
        if ch == 2:
            pass_fail("twelvea")
        if ch == 3:
            indi_result("twelvea")
        if ch == 4:
            update_info("twelvea")
        else:
            print("Wrong Choice, please enter values between 1-4")

        ans = input("Wish to continue (y for yes, n for no): ")

teacher_login_a()

*********************************************************************
*		 CLASS RESULT ANALYSIS *
*		1. Check Overall Class Result *
*		2. Check Pass/Fail Status *
*		3. Check Individual Result *
*		4. Update Information *
*****************************************************************


Enter your choice: 2
Students who have passed:
-------------------------------------------------------------------------------------------
stu_id           name             admn_no          dob              totalmarks       grade
-------------------------------------------------------------------------------------------
Aakash-101       Aryan            101              2003-02-02       489              A
Aditi-102        Aditi            102              2003-02-10       457              A
Aditya-103       Aditya           103              2003-05-14       490              A
Anisha-104       Anisha           104              2003-03-19       434              B
Chirag-105       Chirag           105              2003-06-30       478              A
Chaitanya-106    Chaitanya        106              2003-11-24       413              B
Dev-107          Dev              107              2003-09-21       488              A
Diya-108         Diya             108              2003-04-08       489              A
Esha-109         Esha             109              2003-01-19       386              C
Garima-110       Garima           110              2003-07-18       449              B
Gita-111         Gita             111              2003-09-23       491              A
Hasan-112        Hasan            112              2003-12-08       456              A
Ishita-113       Ishita           113              2003-12-12       383              C
Jane-114         Jane             114              2003-11-01       469              A
Karan-115        Karan            115              2003-11-28       490              A
Kunal-116        Kunal            116              2003-03-27       491              A
Lia-117          Lia              117              2003-03-01       496              A
Mansi-118        Mansi            118              2003-03-19       380              C
Naman-119        Naman            119              2003-10-19       492              A
Nora-120         Nora             120              2003-12-30       497              A
Prateek-121      Prateek          121              2003-04-12       422              B
Rishabh-122      Rishabh          122              2003-02-18       475              A
Rhea-123         Rhea             123              2003-01-26       476              A
Rohan-124        Rohan            124              2003-07-07       498              A
Sarthak-125      Sarthak          125              2003-11-24       499              A
Tarini-127       Tarini           127              2003-09-09       480              A
Vishal-128       Vishal           128              2003-03-19       411              B
Vaani-129        Vaani            129              2003-07-18       492              A
Yutika-130       Yutika           130              2003-05-23       393              C
-------------------------------------------------------------------------------------------
Students who have failed:
-------------------------------------------------------------------------------------------
stu_id           name             admn_no          dob              totalmarks       grade
-------------------------------------------------------------------------------------------
Sanya-126        Sanya            126              2003-02-28       349              D
-------------------------------------------------------------------------------------------
Wrong Choice, please enter values between 1-4
Wish to continue (y for yes, n for no): n

In [65]:
def teacher_login_b():
    x = check_connection()
    if x == 1:
        create_database()
        create_table("twelveb")
    else:
        print("Kindly check connection")
        return

    ans = 'y'
    while ans.lower() == 'y':
        print("*********************************************************************")
        print("*\t\t CLASS RESULT ANALYSIS *")
        print("*\t\t1. Check Overall Class Result *")
        print("*\t\t2. Check Pass/Fail Status *")
        print("*\t\t3. Check Individual Result *")
        print("*\t\t4. Update Information *")
        print("*****************************************************************\n\n")
        
        ch = int(input("Enter your choice: "))
        if ch == 1:
            display_table("twelveb")
        if ch == 2:
            pass_fail("twelveb")
        if ch == 3:
            indi_result("twelveb")
        if ch == 4:
            update_info("twelveb")
        else:
            print("Wrong Choice, please enter values between 1-4")

        ans = input("Wish to continue (y for yes, n for no): ")

teacher_login_b()

*********************************************************************
*		 CLASS RESULT ANALYSIS *
*		1. Check Overall Class Result *
*		2. Check Pass/Fail Status *
*		3. Check Individual Result *
*		4. Update Information *
*****************************************************************

KeyboardInterrupt: Interrupted by user

In [66]:
def teacher_login_c():
    x = check_connection()
    if x == 1:
        create_database()
        create_table("twelvec")
    else:
        print("Kindly check connection")
        return

    ans = 'y'
    while ans.lower() == 'y':
        print("*********************************************************************")
        print("*\t\t CLASS RESULT ANALYSIS *")
        print("*\t\t1. Check Overall Class Result *")
        print("*\t\t2. Check Pass/Fail Status *")
        print("*\t\t3. Check Individual Result *")
        print("*\t\t4. Update Information *")
        print("*****************************************************************\n\n")
        
        ch = int(input("Enter your choice: "))
        if ch == 1:
            display_table("twelvec")
        if ch == 2:
            pass_fail("twelvec")
        if ch == 3:
            indi_result("twelvec")
        if ch == 4:
            update_info("twelvec")
        else:
            print("Wrong Choice, please enter values between 1-4")

        ans = input("Wish to continue (y for yes, n for no): ")

teacher_login_c()

*********************************************************************
*		 CLASS RESULT ANALYSIS *
*		1. Check Overall Class Result *
*		2. Check Pass/Fail Status *
*		3. Check Individual Result *
*		4. Update Information *
*****************************************************************

KeyboardInterrupt: Interrupted by user

In [67]:
def teacher_login_d():
    x = check_connection()
    if x == 1:
        create_database()
        create_table("twelved")
    else:
        print("Kindly check connection")
        return

    ans = 'y'
    while ans.lower() == 'y':
        print("*********************************************************************")
        print("*\t\t CLASS RESULT ANALYSIS *")
        print("*\t\t1. Check Overall Class Result *")
        print("*\t\t2. Check Pass/Fail Status *")
        print("*\t\t3. Check Individual Result *")
        print("*\t\t4. Update Information *")
        print("*****************************************************************\n\n")
        
        ch = int(input("Enter your choice: "))
        if ch == 1:
            display_table("twelved")
        if ch == 2:
            pass_fail("twelved")
        if ch == 3:
            indi_result("twelved")
        if ch == 4:
            update_info("twelved")
        else:
            print("Wrong Choice, please enter values between 1-4")

        ans = input("Wish to continue (y for yes, n for no): ")

teacher_login_d()

*********************************************************************
*		 CLASS RESULT ANALYSIS *
*		1. Check Overall Class Result *
*		2. Check Pass/Fail Status *
*		3. Check Individual Result *
*		4. Update Information *
*****************************************************************


Enter your choice: 4

KeyboardInterrupt: Interrupted by user

In [60]:
# for teacher menu1
def teacher_menu():
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result"
    )
    x = check_connection()
    if x == 1:
        create_database()  # Create database if it doesn't exist
        create_table("twelvea") 
        create_table("twelveb")
        create_table("twelvec")
        create_table("twelved") # Create table if it doesn't exist
    else:
        print("Kindly check connection")
        return

    ans = 'y'
    while ans.lower() == 'y':
        print("**********************************************************************")
        print("*\t\t CLASSES *")
        print("*\t\t1. 12a *")
        print("*\t\t2. 12b *")
        print("*\t\t3. 12c *")
        print("*\t\t4. 12d *")
        print("******************************************************************\n\n")

        ch = int(input("Enter your choice: "))
        if ch == 1:
            teacher_login_a()
        elif ch == 2:
            teacher_login_b()
        elif ch == 3:
            teacher_login_c()
        elif ch == 4:
            teacher_login_d()
        else:
            print("Wrong Choice, please enter values between 1-4")

        ans = input("Go back to the previous menu (y for yes, n for no): ")

teacher_menu()

**********************************************************************
*		 CLASSES *
*		1. 12a *
*		2. 12b *
*		3. 12c *
*		4. 12d *
******************************************************************


Enter your choice: 1
*********************************************************************
*		 CLASS RESULT ANALYSIS *
*		1. Check Overall Class Result *
*		2. Check Pass/Fail Status *
*		3. Check Individual Result *
*		4. Update Information *
*****************************************************************


Enter your choice: 3
Enter the student id: Aakash-101
-------------------------------------------------------------------------------------------
stu_id           name             admn_no          dob              totalmarks       grade
-------------------------------------------------------------------------------------------
Aakash-101       Aakash           101              2003-02-02       489              A
-------------------------------------------------------------------------------------------
Wish to continue (y for yes, n for no): n
Go back to the previous menu (y for yes, n for no): n

In [73]:
# for teacher menu1
def student_menu():
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result"
    )
    x = check_connection()
    if x == 1:
        create_database()  # Create database if it doesn't exist
        create_table("twelvea")     # Create table if it doesn't exist
        create_table("twelveb") 
        create_table("twelvec") 
        create_table("twelved") 
    else:
        print("Kindly check connection")
        return

    ans = 'y'
    while ans.lower() == 'y':
        print("**********************************************************************")
        print("*\t\t CLASSES *")
        print("*\t\t1. 12a *")
        print("*\t\t2. 12b *")
        print("*\t\t3. 12c *")
        print("*\t\t4. 12d *")
        print("******************************************************************\n\n")

        ch = int(input("Enter your choice: "))
        if ch == 1:
            student_login_a()
        elif ch == 2:
            student_login_b()
        elif ch == 3:
            student_login_c()
        elif ch == 4:
            student_login_d()
        else:
            print("Wrong Choice, please enter values between 1-4")

        ans = input("Go back to the previous menu (y for yes, n for no): ")
        ans = input("Wish to continue (y for yes, n for no): ")

student_menu()

**********************************************************************
*		 CLASSES *
*		1. 12a *
*		2. 12b *
*		3. 12c *
*		4. 12d *
******************************************************************

KeyboardInterrupt: Interrupted by user

In [72]:
def admin_menu():
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result"
    )
    x = check_connection()
    if x == 1:
        create_database()
        create_table("twelvea")
        create_table("twelveb")
        create_table("twelvec")
        create_table("twelved")
    else:
        print("Kindly check connection")
    
    ans = 'y'
    while ans.lower() == 'y':
        print("*******************************************************************")
        print("*\t\t CLASSES *")
        print("*\t\t1. 12a *")
        print("*\t\t2. 12b *")
        print("*\t\t3. 12c *")
        print("*\t\t4. 12d *")
        print("******************************************************************\n\n")
        
        ch = int(input("Enter your choice: "))
        if ch == 1:
            display_table("twelvea")
        elif ch == 2:
            display_table("twelveb")
        elif ch == 3:
            display_table("twelveb")
        elif ch == 4:
            display_table("twelveb")
        else:
            print("Wrong Choice, please enter values between 1-4")
        
        ans = input("Go back to the previous menu (y for yes, n for no): ")
        ans = input("Wish to continue (y for yes, n for no): ")

In [74]:
def menu_op():
    mycon = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="2616",
        auth_plugin="mysql_native_password",
        database="result"
    )
    ans = 'y'
    while ans.lower() == 'y':
        print("*********************************************************************")
        print("                 * RESULT MANAGEMENT SYSTEM *")
        print("*********************************************************************")
        print("*\t\t CHOOSE MENU*")
        print("*\t\t1. Student Menu *")
        print("*\t\t2. Teacher's Menu *")
        print("*\t\t3. Administrator's Menu *")
        print("*****************************************************************\n\n")
        
        ch = int(input("Enter your choice: "))
        if ch == 1:
            student_menu()
        elif ch == 2:
            teacher_menu()
        elif ch == 3:
            admin_menu()
        else:
            print("Wrong Choice, please enter values between 1-4")

*********************************************************************
                 * RESULT MANAGEMENT SYSTEM *
*********************************************************************
*		 CHOOSE MENU*
*		1. Student Menu *
*		2. Teacher's Menu *
*		3. Administrator's Menu *
*****************************************************************


Enter your choice: 1
**********************************************************************
*		 CLASSES *
*		1. 12a *
*		2. 12b *
*		3. 12c *
*		4. 12d *
******************************************************************


Enter your choice: 1
Enter your student id: Aryan-101
Enter the correct student id
Go back to the previous menu (y for yes, n for no): n
Wish to continue (y for yes, n for no): n
*********************************************************************
                 * RESULT MANAGEMENT SYSTEM *
*********************************************************************
*		 CHOOSE MENU*
*		1. Student Menu *
*		2. Teacher's Menu *
*		3. Administrator's Menu *
*****************************************************************

KeyboardInterrupt: Interrupted by user

In [ ]:
menu_op()